<footer class="container">
	<div id="contacto" class="contacto-container row">
		<div class="col-sm-6 my-auto text-left contacto-info">
			<h3 class="titulo-contacto"><strong>Contacto</strong></h3>
			<span class="info-contacto"><i class="fab fa-instagram"></i>    @AstraeBox<br/></span>
			<span class="info-contacto"><i class="far fa-envelope"></i>    astraebox@gmail.com</span>
		</div>
		<div class="col-sm-6">
			<img class="img-fluid" src="/assets/img-contacto.jpg" alt="">
		</div>
	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
