<footer class="ph3 pv4">
	<div id="contacto" class="contacto-container row">
		<div class="col-sm-6 my-auto text-left contacto-info">
			<h3 class="titulo-contacto">Contacto</h3>
			<span class="d-flex align-middle"><i class="far fa-envelope"></i>    astraebox@gmail.com<br/></span>
			<span class="d-flex align-middle"><i class="fab fa-instagram"></i>    @AstraeBox</span>
		</div>
		<div class="col-sm-6">
			<img class="img-fluid" src="/assets/img-contacto.jpg" alt="">
		</div>
	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
